@page "/about"
@inject HttpClient _httpClient

<div class="row">
    <div class="col justify-content-center">
        <h1>About</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        As a speaker it's a struggle to find all the CFPs that are out there. When you get notified about an awesome
        event, it's usually too late and the CFP is already closed! 👎
    </div>
</div>
<div class="row">
    <div class="col">
        In an attempt to overcome this <a href="https://gerald.verslu.is/" target="_blank" rel="noopener">Gerald Versluis</a>
        originally created this website. Currently the website is being run, managed and maintained
        by <a href="https://www.rickvandenbosch.net" rel="noopener" target="_blank"> Rick van den Bosch</a>.
        With this application we would like to provide you with a portal that allows you to submit any CFP to any
        event, but maybe even more important: enable you to find open CFPs to awesome events! WHOA! 🤯
    </div>
</div>
<div class="row">
    <div class="col">
        If you have reached this website right now, be prepared for some rough edges. We're busy completely
        rebuilding it, most of the stuff should work but you can run into some unfinished features or bugs.
        Don't let that stop you though! But in the meanwhile please don't hesitate to let me know what you
        think and reach out to me at rickvdbosch@outlook.com or Twitter: @@rickvdbosch.
    </div>
</div>
<div class="row">
    <div class="col justify-content-center">
        <h2>Contributors</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        Of course, all of this could not be done without our wonderful contributors. Thank you! 👏
    </div>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
    @if (_contributors != null)
    {
        @foreach (var contributor in _contributors)
        {
            <div class="col">
                <div class="card bg-dark h-100">
                    <img src="@contributor.Avatar_url" class="card-img-top" alt="@contributor.Login profile image">
                    <div class="card-body text-center">
                        <h5 class="card-title">@contributor.Login</h5>
                        <p class="card-text">@contributor.Contributions contributions</p>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted"><a href="@contributor.Html_url" target="_blank" class="btn btn-outline-light"><i class="fab fa-github"></i> profile</a></small>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="text-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
</div>

@code {
    private List<ContributorModel> _contributors;

    protected override async Task OnInitializedAsync()
    {
        _contributors = await _httpClient.GetFromJsonAsync<List<ContributorModel>>("https://api.github.com/repos/cfpexchange/website-vnext/contributors");
    }

}
